[Unit]
Description=Run EGE History local backup every six hours

[Timer]
OnCalendar=*-*-* 00,06,12,18:00:00 Europe/Moscow
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
